@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0px;
}
.header-body{
    background-color: #2D25A0;
    height: 680px;
    width: 100%;
}
/* nav bar  */
nav{
    justify-content: space-between;
    padding: 0 150px;
}
nav .nav-manu-bar,.Loging-button{
    margin-top: 42px;
}
.nav-manus{
    padding-left: 0px;
}
.nav-manu{
    padding: 10px 20px;
}
.nav-manu:hover, .top-section a:hover, .Loging-button a:hover{
    color: black;
    background-color: #3DBAFD;
}

nav ,ul{
    display: flex;
    margin: 0px;
}
nav li{
    list-style: none;
    margin-right: 36px;
}
nav a, .top-section a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}
/* top section  */
.top-section{
    display: flex;
    margin-top: 50px;
}
.Half-width{
    width: 50%;
    margin: 0 156px ;
}
.Half-width img{
width: 557px;
height: 456px;
}
.Half-width h1{
    color:white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
}
.top-section a, .Loging-button a{
    padding: 10px 22px;
    background-color: #E02C6D;
    border-radius: 10px;
}
.top-section span, .Loging-button span{
    padding: 0 8px;
}
